<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.p3lim.patheme"
	android:versionCode="1"
	android:versionName="1">

    <uses-feature android:required="true" android:name="org.cyanogenmod.theme"/>
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19"/>
    <application android:hasCode="false" android:icon="@drawable/icon" android:label="AOSPA3+ Bootanimation"></application>
    <meta-data android:name="org.cyanogenmod.theme.name" android:value="Paranoid Android 3+"/>
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="p3lim"/>
</manifest>
